@import 'foundation';
@import 'font-awesome';

@include foundation-everything(true);

.loading{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 1;

    .gear {
        position: absolute;
        z-index: -10;
        width: 40px;
        height: 40px;
        animation: spin 5s infinite;
    }

    .two {
        left: 40px;
        width: 80px;
        height: 80px;
        animation: spin-reverse 5s infinite;
    }

    .three {
        top: 45px;
        left: -10px;
        width: 60px;
        height: 60px;
    }

    @keyframes spin {
        50% {
            transform: rotate(360deg);
        }
    }

    @keyframes spin-reverse {
        50% {
            transform: rotate(-360deg);
        }
    }

    .lil-circle {
        position: absolute;
        border-radius: 50%;
        box-shadow: inset 0 0 10px 2px gray, 0 0 50px white;
        width: 100px;
        height: 100px;
        opacity: .1;
    }

    .blur-circle {
        position: absolute;
        top: -19px;
        left: -19px;
    }

    .text {
        position: absolute;
        text-align: center;
        color: #fff;
        font-weight: 400;
        width: 100px;
        top: 50px;
        margin-top: -20px;
        height: 40px;
        line-height: 40px;
        text-shadow: 1px 1px 3px rgb(0, 0, 0);
    }
}
.overlayer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.75);
    z-index: 9998;
    display: none;
    .loading{
        z-index: 9999;
    }
}