*.DS_Store
*.gem
*.orig
*.scssc
*.sublime-*
*.swp
*.swo
*.pyc
.bundle
.grunt
.idea
.sass-cache/*
.yardoc
_build
.customizer
composer.lock

bower_components
node_modules
bundle
build/*
_yardoc
coverage
InstalledFiles

pkg
rdoc
spec/reports
npm-debug.log
_debug.json

tmp
.tmp
dist

/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.phpintel
.idea

background/lib/*
background/env/*
*.p12
*.pem
background/mip-analytics.json