.off-canvas { background: #414141 }
.off-canvas .left-power-by { position: fixed; bottom: 5px; width: 80%; left: 10px; color: white }
.off-canvas li { line-height: 4 }
.off-canvas a { color: #a9a9a9; font-size: 1rem }
.off-canvas a i { margin-right: 10px !important; font-size: 1.5rem }
.off-canvas .client_title { display: block; height: 60px; line-height: 60px; background: #212121; color: white; font-size: 18px; padding-left: 20px }
.off-canvas.position-left { width: 320px }
.off-canvas .menu.vertical > li:hover, .off-canvas .menu.vertical > li:active, .off-canvas .menu.vertical > li:hover a, .off-canvas .menu.vertical > li:active a { background: #335678; color: #fff }
.off-canvas-content { box-shadow: none !important; }
.position-left.reveal-for-medium ~ .off-canvas-content { margin-left: 320px }
.top-bar-title { height: 26px; position: relative }
.top-bar-right .button { margin: 0 }
.menu-toggle-button { float: left; margin-right: 8px }
.top_logo { background: url('/images/logo.png') no-repeat; background-size: cover; width: 190px; font-size: 0 !important; height: 32px; float: left; vertical-align: top; margin-top: -4px }
.welcome { font-size: 12px; line-height: 1 }
.main-content { margin-top: 15px; padding: 10px 30px }
.side-menu a.active{color: #fff;background-color: 335678; }
.side-menu i.fa { background-image: url('/images/sprite-gray.png'); background-repeat: no-repeat; width: 24px; height: 24px; }
.side-menu a:hover i.fa, .side-menu a:active i.fa, .side-menu a.active i.fa { background-image: url('/images/sprite.png'); }
.side-menu i.fa-dashboard { background-position: 0 0; background-size: 20px 20px; position: relative; top: -2px; }
.side-menu i.fa-data { background-position: -24px 0; }
.side-menu i.fa-analyses { background-position: -48px 0; }
.side-menu i.fa-management { background-position: -72px 0; }
.side-menu i.fa-settings { background-position: 0px -24px; }
.side-menu a.active i.fa-sign-out, .side-menu a:hover i.fa-sign-out, .side-menu a:active i.fa-sign-out, .side-menu i.fa-sign-out { background: none !important; left: 2px; position: relative; }
.log-in-form { border: 1px solid #cacaca; padding: 1rem !important; border-radius: 3px; margin-top: 20% }
.footer { background-color: #292c2f; text-align: center; font-size: 1.2rem; padding: 1rem; margin-top: 20px }
.footer .inline-list a { display: inline-block; width: 2rem; height: 2rem; background-color: #33383b; border-radius: 2px; font-size: 1.5rem; color: #fff; text-align: center; line-height: 35px; margin: 0 3px 0 0 }
.footer .contact { list-style-type: none; margin: 0; text-align: left; color: #fff }
.footer .contact li { margin-bottom: 2rem }
.footer .contact li p { padding-left: 5rem }
.footer .contact i { position: absolute; background-color: #33383b; color: #fff; font-size: 2rem; border-radius: 50%; line-height: 1; margin: 0 0 0 -4rem; vertical-align: middle; padding: .25em .45em }
.footer .copywrite { color: #8f9296; font-size: 0.875rem; margin: 0 0 1rem 0; text-align: right }
.footer .about { color: #92999f; font-size: 0.875rem; margin: 0 0 1rem 0 }
.footer .footer-links a { list-style: none; font-weight: normal; color: #fff; padding: 3rem 0 2rem; margin: 0; font-size: 0.875rem }
.footer .footer-links a::after { content: "•"; padding: 0 0.2rem 0 0.4rem }
.footer .footer-links a:last-child::after { content: ""; padding: 0 0.4rem 0 0.8rem }
@media only screen and (min-width:40.063em) {
	.footer p { text-align: left }
	.footer .social { text-align: left; margin: 0 }
	.footer .contact { text-align: left }
	.footer .contact > i { margin-right: 1rem }
}
.tabs-title.active > * { background: #e6e6e6 }
.panel { border: solid 1px #ebebeb; padding: 80px 20px 20px; position: relative }
.panel .top-bar { position: absolute; left: 0; right: 0; width: 100%; top: 0; height: 60px; line-height: 60px; padding: 0 10px }
.title { display: inline-block; color: #424242; }
.sec-title { display: inline-block; color: #767474; position: relative; left: 10px; font-size: 18px; }
.sub-title { display: inline-block; color: #767474; margin-top: -10px; clear: left; font-size: 18px; }
.table-wrapper { position: relative }
.table-wrapper .table-toolbar { position: absolute; z-index: 1 }
table.report { min-width: 100% }
table.report .button, .noty_buttons .button { margin-bottom: 0 }
table.report.tiny tbody td, table.report.tiny th { padding: .25rem .3rem .3rem; font-size: 14px }
table.report.tiny tfoot td, table.report.tiny tfoot th, table.report.tiny thead td, table.report.tiny thead th { padding: .25rem .3rem .3rem; font-size: 14px }
table.report caption { text-align: left }
table.report th { background: #5f5e5f; color: #fff }
table.report tbody tr { background: #c4d2dc }
table.report tbody tr:nth-child(even) { background: #f4f4f4 }
table.report.hover tbody tr:hover { background: #b8b8b8 !important }
table.report tbody tr td, table.report thead tr th { height: 60px }
.tabs-panel textarea { margin-bottom: 0px }
.panel { margin-bottom: 30px }
div.dataTables_wrapper div.dataTables_info { display: none }
.comiseo-daterangepicker-triggerbutton { position: relative; top: 0px; font-size: 12px }
.comiseo-daterangepicker { font-size: 12px }
.comiseo-daterangepicker-presets, .comiseo-daterangepicker-calendar { height: auto !important }
.comiseo-daterangepicker-presets .ui-menu .ui-state-focus, .comiseo-daterangepicker-presets .ui-menu .ui-state-active { font-weight: 200 !important }
.comiseo-daterangepicker-triggerbutton.ui-button { border: none; background: none; color: #6a6a6a; position: relative; min-width: auto }
.report-tabs { background: #ebebeb; border: none }
.report-tabs .tabs-title.active > * { background: #fff }
.report-tabs .tabs-title, .report-tabs .tabs-title a { height: 60px; line-height: 60px }
.report-tabs .tabs-title > a { padding: 0 1.25rem; font-size: 18px; color: #6a6a6a; border-right: solid 1px #dbdbdb }
.report-tabs .tabs-title:first-child { margin-left: 60px; border-left: solid 1px #dbdbdb }
i.mailchimp { background-image: url('/images/mailchimp.svg'); width: 24px; height: 24px; position: relative; top: 6px; margin: 0 5px }
i.tagmanager { background-image: url('/images/tagmanager.png'); background-size: 24px 24px; width: 24px; height: 24px; position: relative; top: 6px; margin: 0 5px }
.has-tip{border-bottom: none;}
button.has-tip {  cursor: pointer;}
.switcher-group { display: inline-block; }
.switcher-group .button:last-child { position: relative; left: -6px; }
.switcher-group .button:first-child { position: relative; right: -6px; }
.button.switcher { border: solid 1px #a8a8a8; border-radius: 4px; padding-left: 2em; padding-right: 2em; color: #ccc !important; background: -ms-linear-gradient(top, #fefefe, #ebebeb); background: -moz-linear-gradient(top, #fefefe, #ebebeb); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#ebebeb)); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#ebebeb)); background: -webkit-linear-gradient(top, #fefefe, #ebebeb); background: -o-linear-gradient(top, #fefefe, #ebebeb); -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); box-shadow: 0px 1px 3px rgb(220, 220, 220) inset, 0px 1px rgb(226, 226, 226); }
.button.switcher.on { color: #000 !important; background: -ms-linear-gradient(top, #ebebeb, #fefefe); background: -moz-linear-gradient(top, #ebebeb, #fefefe); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#fefefe)); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#fefefe)); background: -webkit-linear-gradient(top, #ebebeb, #fefefe); background: -o-linear-gradient(top, #ebebeb, #fefefe); z-index: 10; }
.dropdown-group{display: inline-block; vertical-align: middle;}
.dropdown-group .button{width: 100%;}
.dropdown-group.menu > li.is-dropdown-submenu-parent > a{padding-left: 1.5rem;}
.dropdown-group .is-dropdown-submenu{border:none;}
.analyses { padding: 20px; }
.analyses .box { height: 320px; position: relative; }
.analyses .box.upload { background: #f9f9f9; border dashed 1px #e4e4e4; }
.analyses .box.upload input[type="file"] { width: 64px !important; height: 64px !important; position: absolute !important; left: 50% !important; top: 35% !important; margin-left: -32px;  !important 
z-index: 2; opacity: 0; cursor: pointer; }
.analyses .box.upload label { width: 80%; height: 64px; position: absolute; left: 50%; top: 35%; margin-left: -40%; margin-top: 74px; text-align: center; font-size: 16px; color: #b4b4b4; }
.analyses_btn_upload { background: none; border: solid 1px #dfdfdf; border-radius: 64px; width: 64px; height: 64px; position: absolute; left: 50%; top: 35%; margin-left: -32px; z-index: 1; pointer-events: none; }
.analyses_btn_upload i { color: #3c3d3d }
.analyses .box .pdf { border: solid 1px #e4e4e4; height: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 60px; background-repeat: no-repeat; background-position: center 12px; }
.analyses .box .description { position: absolute; bottom: 0; left: 0; right: 0; border: solid 1px #fff; border-top: solid 1px #e4e4e4; height: 60px; overflow: hidden; padding: 10px; text-align: center; }
.analyses .box:hover, .analyses .box:active, .analyses .box.active { border: solid 1px #c0d0dd; }
.analyses .box input[type='checkbox'] { width: 24px; height: 24px; display: none; position: absolute; top:0; left: 0; z-index: 1;}
.analyses .box:hover input[type='checkbox'], .analyses .box:active input[type='checkbox'], .analyses .box.active input[type='checkbox'] { border: solid 1px #c0d0dd; display: block;}
.analyses .box:hover .description, .analyses .box:active .description, .box.active .description { background: #c0d0dd; color: #fff; border: solid 1px #c0d0dd; border-top: none; }
.url_tooltip.tooltip { max-width: 640px !important; }
.bar-icon-group button, .bar-icon-group .button{
	margin: auto 5px;
}
.button.disabled .fa, button.disabled .fa{color:gray}