// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.menu-bar{
	background: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	margin: 0;
	list-style-type: none;

	&.dark{
		background: #232323;
	}

	li{
		-webkit-box-flex: 1;
		-webkit-flex: auto 0 0;
		-ms-flex: auto 0 0;
		flex: auto 0 0;
	}
}